@font-face {
    font-family: 'Geller Sans';
    src: url('https://db.onlinewebfonts.com/t/8e0a0e0c6c0b0b0b0b0b0b0b0b0b0b0b.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/8e0a0e0c6c0b0b0b0b0b0b0b0b0b0b0b.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geller Sans';
    src: url('https://db.onlinewebfonts.com/t/8e0a0e0c6c0b0b0b0b0b0b0b0b0b0b0b.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/8e0a0e0c6c0b0b0b0b0b0b0b0b0b0b0b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}